.header {
	margin: 0 auto;
	width: 900px;
	height: 120px;
	background-color: grey;
}

.header h1 {
	margin-top: 30px;
	background: black;
	font-family: arial;
	color: white;
	width: 400px;
	float: center;
	text-align: center;
	padding: 10px 10px 10px 0;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;  
}

.header h1 small {
	font-size: 12px;
	font-style: italic;
	color: white;
}

.menu{
	margin: 0 auto;
	width: 900px;
	height:45px;
	border-top: 5px;
	background: grey;
	font-size: 16px;
	text-align: center;
}

.menu ul li{
	display: inline;
}

.menu li a{
	text-decoration: none;
	margin: 0 10px;
	padding-bottom: 5px;
	color: #000;
}

.menu li a:hover{
	background-color: #dd6600;
	color: white;
}

.content{
	margin: 0 auto;
	width: 900px;
	height:280px;
	background: grey;
	padding: 20px;
}

.c1{
	float: left;
	margin-right: 30px;
	width: 270px;
	height:270px;
	background: #99ffcc;
}